<!DOCTYPE html>
<html>
  <head>
    <title>Clone2ch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <div class = "px-2">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <div class = "px-2">
    <%= yield %>
    <div class = "px-2">
    </div>
    <div class = "px-2">
    <%= render "layouts/footer"%>
  </body>
</html>
